

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// HEADER - MAX WORKS HERE
@import url("https://fonts.googleapis.com/css?family=Raleway");

.header-logo {
	width: 30px;
	height: 30px;
}

.header-wrapper {
	background: url(../img/jumbotron-bg.jpg);
	background-size: cover;
	padding-right: 0;
 	padding-left: 0;
 	height: 100vh;
 	font-family: 'Raleway', sans-serif;
}

.navbar-nav {
	background: $transparent;
	color: #fff;
}

.navbar-collapse {
	background: $transparent;
	}

.nav-burger {
	width: 60px;
	height: 60px;
	position: relative;
	top: 0;
	left: 0;
}

.jumbotron {
	text-align: center;
}


.lead {
	padding-bottom: 25px;
}
$lead-font-size: 0.90rem;

// BUTTON SIZE

$font-size-lg: 1.0rem;
$line-height-lg: 2.5rem;

.display-3,
.display-4,
.lead {
	color: #fff;
	margin: 30px 0 30px 0;
}

// CHANGING VARIABLES HERE

$btn-primary-bg: #998675;
$btn-primary-border-color: #998675;

// END OF HEADER - CONTINUE AFTER THIS LINE

.header-section {

	display: block;
	text-align: center;
	width: 50%;
	margin: auto;
}

.container {
	display: flex;

.wrap a {
	text-decoration: none;
	}

	.wrap-hover:hover{background: $gray-light; }

.wrap-hover a {
	text-decoration: none;
	}






//Team 2
.teasere {
	h2 {

		&:hover ,
		&:focus {
			color: $yellow;
		}
	}
}
